<template>
  <page :title="$t('title.bonus')">
    <message v-show="loading || error" :icon="hasError ? 'error' : 'progress'">{{ hasError ? $t('msg.fail_loading', [error]) : $t('msg.loading') }}</message>
    <div class="page-content">
      <block :title="$t('label.info')" :loading="loading">
        <div class="info">
          <!--suppress HtmlUnknownTarget -->
          <img :src="iconPath" :alt="name" width="60" />
          <div class="params">
            <div><label v-t="'label.name'" /> {{ name }}</div>
            <div><label v-t="'label.percent'" /> {{ $t('label.' + (percent ? 'yes' : 'no')) }}</div>
            <div><label v-t="'label.doubled'" /> {{ $t('label.' + (doubled ? 'yes' : 'no')) }}</div>
          </div>
        </div>
      </block>
      <block :title="$t('label.description')" :loading="loading" :original="true">{{ description }}</block>
    </div>
  </page>
</template>

<script>
import Page from '@/components/page'
import Message from '@/components/message'
import { getBonus, getIconURL } from '@/api'
import Block from '@/components/block'
export default {
  name: 'bonus',
  components: { Block, Page, Message },
  data () {
    return {
      loading: true,
      error: 0,
      name: '',
      description: '',
      icon: 0,
      percent: false,
      doubled: false
    }
  },
  mounted () {
    getBonus(this.$route.params.lang, this.$route.params.id).then((e) => {
      this.name = e.data.name
      this.description = e.data.description
      this.percent = e.data.percent
      this.doubled = e.data.doubled
      const img = new Image()
      img.onload = () => {
        this.icon = e.data.icon
        this.loading = false
      }
      img.onerror = () => {
        this.icon = 0
        this.loading = false
      }
      img.src = getIconURL(e.data.icon)
    }).catch((e) => {
      this.error = e.response.status
    })
  },
  computed: {
    hasError () {
      return this.error !== 0
    },
    iconPath () {
      return getIconURL(this.icon)
    }
  }
}
</script>

<style scoped>
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .info label {
    color: #ff0;
  }
  .page-content {
    overflow-y: auto;
    height: 100%;
  }
</style>
