<template>
  <page :title="$t('title.class')">
    <message v-show="loading || error" :icon="hasError ? 'error' : 'progress'">{{ hasError ? $t('msg.fail_loading', [error]) : $t('msg.loading') }}</message>
    <div class="page-content">
      <block :title="$t('label.info')" :loading="loading">
        <div class="info">
          <!--suppress HtmlUnknownTarget -->
          <img :src="iconPath" :alt="name" width="60" />
          <div class="params">
            <div><label v-t="'label.name'" /> {{ name }}</div>
            <div><label v-t="'label.faction'" /> <router-link class="link" :to="{ name: 'faction', params: { id: faction } }">{{ factionName }}</router-link></div>
            <div><label v-t="'label.attack'" /> {{ attack }}/10</div>
            <div><label v-t="'label.defence'" /> {{ defence }}/10</div>
            <div><label v-t="'label.support'" /> {{ support }}/10</div>
          </div>
        </div>
      </block>
      <block :title="$t('label.description')" :loading="loading" :html="description | markdown" />
      <block :title="$t('label.skills')" :loading="loading" v-show="skills.length > 0">
        <div class="list">
          <router-link v-for="skl in skills" :key="skl.f1" :to="{ name: 'skill', params: { id: skl.f1 } }" class="item-class">
            <icon-slot :icon="skl.f2" />
            <div class="label">{{ skl.f3 }}</div>
          </router-link>
        </div>
      </block>
      <block :title="$t('label.expert_skills')" :loading="loading" v-show="expert.length > 0">
        <div class="list">
          <router-link v-for="skl in expert" :key="skl.f1" :to="{ name: 'skill', params: { id: skl.f1 } }" class="item-class">
            <icon-slot :icon="skl.f2" />
            <div class="label">{{ skl.f3 }}</div>
          </router-link>
        </div>
      </block>
    </div>
  </page>
</template>

<!--suppress JSUnresolvedVariable -->
<script>
import Page from '@/components/page'
import Message from '@/components/message'
import { getClass, getIconURL } from '@/api'
import Block from '@/components/block'
import IconSlot from '@/components/iconSlot'
export default {
  name: 'class',
  components: { Block, Page, Message, IconSlot },
  data () {
    return {
      loading: true,
      error: 0,
      name: '',
      description: '',
      icon: 0,
      attack: 0,
      defence: 0,
      support: 0,
      faction: 0,
      factionName: '',
      skills: [],
      expert: []
    }
  },
  mounted () {
    getClass(this.$route.params.lang, this.$route.params.id).then((e) => {
      this.name = e.data.name
      this.description = e.data.description
      this.attack = e.data.attack
      this.defence = e.data.defence
      this.support = e.data.support
      this.faction = e.data.faction
      this.factionName = e.data.faction_name
      this.skills = e.data.skills
      this.expert = e.data.expert
      const img = new Image()
      img.onload = () => {
        this.icon = e.data.icon
        this.loading = false
      }
      img.onerror = () => {
        this.icon = 0
        this.loading = false
      }
      img.src = getIconURL(e.data.icon)
    }).catch((e) => {
      this.error = e.response.status
    })
  },
  computed: {
    hasError () {
      return this.error !== 0
    },
    iconPath () {
      return getIconURL(this.icon)
    }
  },
  filters: {
    markdown (text) {
      return '<p>' + text.replace(/%!([^\n]+)/g, '<b class="title">$1</b>').split('\n').join('</p><p>') + '</p>'
    }
  }
}
</script>

<style scoped>
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .info label {
    color: #ff0;
  }
  .page-content {
    overflow-y: auto;
    height: 100%;
  }
  .list {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .item-class {
    display: flex;
    width: 112px;
    height: 112px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    white-space: normal;
  }
  .item-class:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .label {
    height: 32px;
    text-align: center;
    text-indent: 0;
  }
</style>
