<template>
  <page :title="$t('title.item')">
    <message :icon="hasError ? 'error' : 'progress'" v-show="loading || error">{{ hasError ? $t('msg.fail_loading', [error]) : $t('msg.loading') }}</message>
    <div class="page-content" ref="page">
      <tabs :current="currentMode" :next="nextMode" :prev="prevMode"/>
      <div :style="{ transform: `scale(${size}) translateY(${offset}px)` }" class="box" v-show="$route.params.mode === 'info' && displayMode === 0">
        <item-box :item="item" v-if="!loading" />
      </div>
      <div :style="{ transform: `scale(${size}) translateY(${offset}px)` }" class="box" v-show="$route.params.mode === 'info' && displayMode === 1">
        <item-crystal-rune-box :item="item" v-if="!loading" />
      </div>
      <div :style="{ transform: `scale(${size}) translateY(${offset}px)` }" class="box" v-show="$route.params.mode === 'info' && displayMode === 2">
        <item-book-box :item="item" v-if="!loading" />
      </div>
      <div :style="{ transform: `scale(${size}) translateY(${offset}px)` }" class="box" v-show="$route.params.mode === 'info' && displayMode === 255">
        {{ $t('msg.display_mode_not_implemented') }}
      </div>
    </div>
  </page>
</template>

<script>
import Page from '@/components/page'
import Message from '@/components/message'
import { emptyItem, getItem, hasLook } from '@/api'
import ItemBox from '@/components/item-box'
import Tabs from '@/components/tabs'
import ItemCrystalRuneBox from '@/components/item-crystal-rune-box'
import ItemBookBox from '@/components/item-book-box'

export default {
  name: 'item',
  components: { ItemBookBox, ItemCrystalRuneBox, ItemBox, Page, Message, Tabs },
  data () {
    return {
      loading: true,
      error: 0,
      size: 0,
      offset: 0,
      item: emptyItem
    }
  },
  mounted () {
    this.loading = true
    getItem(this.$route.params.lang, this.$route.params.id).then((e) => {
      this.item = e.data
      this.$nextTick(() => this.resize())
      window.addEventListener('resize', this.resize)
    }).catch((e) => {
      this.error = e.response.status
    }).finally(() => {
      this.loading = false
    })
  },
  computed: {
    hasError () {
      return this.error !== 0
    },
    currentMode () {
      return this.$t('title.item_mode.' + this.$route.params.mode)
    },
    nextMode () {
      return {
        name: 'item',
        params: {
          id: this.$route.params.id,
          mode: this.getNext()
        }
      }
    },
    prevMode () {
      return {
        name: 'item',
        params: {
          id: this.$route.params.id,
          mode: this.getPrev()
        }
      }
    },
    displayMode () {
      if ([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 25, 26].includes(this.item.type)) {
        return 0
      } else if ([16, 17, 23, 24].includes(this.item.type)) {
        return 1
      } else if (this.item.type === 30) {
        return 2
      } else if ([].includes(this.item.type)) {
        return 3
      } else {
        return 255
      }
    }
  },
  methods: {
    resize () {
      this.$nextTick(() => {
        const scale = Math.min(Math.floor(this.$refs.page.clientWidth / 230), 2)
        this.size = scale
        this.offset = Math.floor((scale - 1) * 20 + 50)
      })
    },
    getNext () {
      switch (this.$route.params.mode) {
        case 'info':
          return hasLook.includes(this.item.type) ? 'view' : 'comments'
        case 'view':
          return 'comments'
        default:
          return 'info'
      }
    },
    getPrev () {
      switch (this.$route.params.mode) {
        case 'info':
          return 'comments'
        case 'comments':
          return hasLook.includes(this.item.type) ? 'view' : 'info'
        default:
          return 'info'
      }
    }
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.resize)
  }
}
</script>

<style scoped>
  .page-content {
    height: 100%;
    overflow-y: auto;
  }
  .box {
    background-color: rgba(15, 39, 64, 0.7);
    margin: 8px auto;
    outline: 1px solid #E7CB67;
    padding: 4px;
    transform: scale(0);
    transition-duration: 1s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 231px;
  }
</style>
