<template>
  <page :title="$t('title.items')" class="page">
    <message :icon="hasError ? 'error' : 'progress'" v-show="loading || error">{{ hasError ? $t('msg.fail_loading', [error]) : $t('msg.loading') }}</message>
    <message icon="warning" v-show="!loading && items.length === 0">{{ $t('msg.no_entries') }}</message>
    <textbox v-model="filter"/>
    <div class="list">
      <router-link :key="item.id" :title="item.name" :to="{ name: item.type === 0 ? 'items' : 'item', params: { category: item.id, id: item.id, mode: 'info' } }" class="item-bonus" v-for="item in output">
        <icon-slot :icon="item.icon" />
        <div :class="['label', 'item-color-' + itemColor(item.bind, item.color, item.type !== 0)]">{{ item.name }}</div>
      </router-link>
    </div>
  </page>
</template>

<script>
import Page from '@/components/page'
import Message from '@/components/message'
import { getItems, itemColor, relicCategories } from '@/api'
import IconSlot from '@/components/iconSlot'
import Textbox from '@/components/textbox'
export default {
  name: 'items',
  components: { Textbox, IconSlot, Page, Message },
  data () {
    return {
      loading: true,
      error: 0,
      items: [],
      filter: ''
    }
  },
  mounted () {
    this.refresh(this.$route.params.category)
  },
  computed: {
    hasError () {
      return this.error !== 0
    },
    output () {
      const query = this.filter.trim().toLowerCase()
      return this.items.filter((b) => b.name.toLowerCase().includes(query)).sort((a, b) => {
        return a.id - b.id
      })
    }
  },
  methods: {
    refresh (id) {
      this.error = 0
      this.loading = true
      getItems(this.$route.params.lang, id).then((e) => {
        this.loading = false
        // noinspection JSUnresolvedVariable
        this.items = e.data.items
      }).catch((e) => {
        this.error = e.response.status
      })
    },
    itemColor (bind, color, isItem) {
      return itemColor(bind, color, isItem && relicCategories.includes(parseInt(this.$route.params.category)))
    }
  },
  beforeRouteUpdate (to, from, next) {
    next()
    this.refresh(to.params.category)
  }
}
</script>

<style scoped>
  .page {
    display: flex;
    flex-direction: column;
  }
  .list {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .item-bonus {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 112px;
    justify-content: center;
    margin: 8px;
    text-shadow: -1px 0 1px #444, 1px 0 1px #444, 0 -1px 1px #444, 0 1px 1px #444;
    white-space: normal;
    width: 112px;
  }
  .item-bonus:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  /*noinspection CssUnusedSymbol*/
  .label {
    height: 32px;
    text-align: center;
  }
</style>
