<template>
  <page :title="$t('title.news')">
    <message v-show="loading || error" :icon="hasError ? 'error' : 'progress'">{{ hasError ? $t('msg.fail_loading', [error]) : $t('msg.loading') }}</message>
    <message v-show="!loading && posts.length === 0" icon="warning">{{ $t('msg.no_entries') }}</message>
    <block v-for="post in posts" :key="post.id" :title="post.title" :date="post.date * 1000">{{ post.content }}</block>
    <pagination :pages="pagination" v-if="!loading && posts.length > 0" />
  </page>
</template>

<script>
import page from '@/components/page'
import message from '@/components/message'
import { loadNews } from '@/api'
import block from '@/components/block'
import Pagination from '@/components/pagination'

export default {
  name: 'news',
  components: { Pagination, message, block, page },
  data () {
    return {
      loading: true,
      posts: [],
      error: 0,
      pages: 0
    }
  },
  mounted () {
    loadNews(this.page, this.$route.params.lang).then((e) => {
      this.loading = false
      // noinspection JSUnresolvedVariable
      this.posts = e.data.news
      this.pages = e.data.pages
    }).catch((e) => {
      this.error = e.response.status
    })
  },
  computed: {
    hasError () {
      return this.error !== 0
    },
    pagination () {
      const res = []
      for (let i = 1; i <= this.pages; i++) {
        res.push({
          page: i,
          current: i === this.page
        })
      }
      return res
    },
    page () {
      return this.$route.params.page || 1
    }
  }
}
</script>

<style scoped>
</style>
