<template>
  <page :title="$t('title.skill')">
    <message :icon="hasError ? 'error' : 'progress'" v-show="loading || error">{{ hasError ? $t('msg.fail_loading', [error]) : $t('msg.loading') }}</message>
    <div class="page-content">
      <tabs :current="currentLevel" :next="nextLevel" :prev="prevLevel"/>
      <block :loading="loading" :title="$t('label.info')">
        <div class="info">
          <!--suppress HtmlUnknownTarget -->
          <img :alt="name" :src="iconPath" width="60" />
          <div class="params">
            <div><label v-t="'label.name'" /> {{ name }}</div>
            <div v-show="type !== 0"><label v-t="'label.cooldown'" /> {{ cooldown + $t('label.sec') }}</div>
            <div><label v-t="'label.skill_type'" /> {{ $t('label.skill_types.' + type) }}</div>
            <div v-if="energy.length > 0 && level > 0"><label v-t="'label.energy_usage'" /> {{ energyUsage }}</div>
          </div>
        </div>
      </block>
      <block :html="filler | markdown" :loading="loading" :title="$t('label.description')" />
      <block :title="$t('label.relics')" v-show="relics.length > 0">
        <div class="list">
          <router-link :key="rel.f1" :title="rel.f3" :to="{ name: 'item', params: { id: rel.f1, mode: 'info' } }" class="item-class" v-for="rel in relics">
            <icon-slot :icon="rel.f2" />
            <div class="label">{{ rel.f3 }}</div>
          </router-link>
        </div>
      </block>
    </div>
  </page>
</template>

<script>
import Page from '@/components/page'
import Message from '@/components/message'
import { getIconURL, getSkill } from '@/api'
import Block from '@/components/block'
import Tabs from '@/components/tabs'
import IconSlot from '@/components/iconSlot'
export default {
  name: 'skill',
  components: { IconSlot, Tabs, Block, Page, Message },
  data () {
    return {
      loading: true,
      error: 0,
      icon: 0,
      name: '',
      description: '',
      holder: '',
      maxLevel: 0,
      cooldown: 0,
      type: 0,
      energy: [],
      coefficients: [],
      level: 0,
      relics: []
    }
  },
  mounted () {
    getSkill(this.$route.params.lang, this.$route.params.id).then((e) => {
      this.name = e.data.name
      this.description = e.data.description
      this.holder = e.data.holder
      this.maxLevel = e.data.level
      this.cooldown = e.data.cooldown
      this.type = e.data.type
      this.energy = e.data.energy
      this.coefficients = e.data.coefficients.map((c) => {
        c.f2.sort((a, b) => a.f3 - b.f3)
        return c
      })
      this.relics = e.data.relics
      this.refresh(this.$route)
      const img = new Image()
      img.onload = () => {
        this.icon = e.data.icon
        this.loading = false
      }
      img.onerror = () => {
        this.icon = 0
        this.loading = false
      }
      img.src = getIconURL(e.data.icon)
    }).catch((e) => {
      this.error = e.response.status
    })
  },
  computed: {
    hasError () {
      return this.error !== 0
    },
    iconPath () {
      return getIconURL(this.icon)
    },
    filler () {
      if (this.level < 1 || this.holder === null || this.holder.trim().length < 1) {
        return this.description
      }
      let coefficients = this.coefficients.find((e) => e.f1 === this.level)
      if (!coefficients) {
        return this.description
      }
      coefficients = coefficients.f2
      return this.holder.replace(/\s%(\d+)/g, (e1, r2) => {
        const val = coefficients[parseInt(r2) - 1]
        return ' ' + this.formatCoefficient(val.f1, val.f2)
      })
    },
    currentLevel () {
      return `${this.level}/${this.maxLevel}`
    },
    nextLevel () {
      return {
        name: 'skill',
        params: {
          id: this.$route.params.id,
          level: this.getNext()
        }
      }
    },
    prevLevel () {
      return {
        name: 'skill',
        params: {
          id: this.$route.params.id,
          level: this.getPrev()
        }
      }
    },
    energyUsage () {
      if (!this.energy || this.energy.length < 1 || this.level < 1) {
        return 0
      }
      return this.energy.find((e) => e.f1 === this.level).f2
    }
  },
  methods: {
    getNext () {
      if (this.level < this.maxLevel) {
        return this.level + 1
      }
      return 0
    },
    getPrev () {
      if (this.level > 0) {
        return this.level - 1
      }
      return this.maxLevel
    },
    refresh (route) {
      this.level = route.params.level % (this.maxLevel + 1)
    },
    formatCoefficient (type, val) {
      return type === 1 ? (Math.round(val * 1000) / 10 + '%') : val
    }
  },
  filters: {
    markdown (text) {
      return '<p>' + text.replace(/%!([^\n]+)/g, '<b class="title">$1</b>').split('\n').join('</p><p>') + '</p>'
    }
  },
  beforeRouteEnter (to, from, next) {
    if (!('level' in to.params) || (to.params.level === undefined) || (to.params.level === null)) {
      next({
        name: 'skill',
        params: {
          id: to.params.id,
          level: 0
        }
      })
      return
    }
    next()
  },
  beforeRouteUpdate (to, from, next) {
    next()
    this.refresh(to)
  }
}
</script>

<style scoped>
  .info {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .info label {
    color: #ff0;
  }
  .page-content {
    height: 100%;
    overflow-y: auto;
  }
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 100%;
    justify-content: space-evenly;
    align-content: flex-start;
  }
  .item-class {
    display: flex;
    width: 112px;
    height: 112px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    white-space: normal;
  }
  .item-class:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .label {
    height: 32px;
    text-align: center;
    text-indent: 0;
  }
</style>
