<template>
  <page :title="$t('title.skills')" class="page">
    <message :icon="hasError ? 'error' : 'progress'" v-show="loading || error">{{ hasError ? $t('msg.fail_loading', [error]) : $t('msg.loading') }}</message>
    <message icon="warning" v-show="!loading && skills.length === 0">{{ $t('msg.no_entries') }}</message>
    <textbox v-model="filter"/>
    <div class="list">
      <router-link :key="skill.id" :to="{ name: 'skill', params: { id: skill.id } }" class="item-bonus" v-for="skill in output">
        <icon-slot :icon="skill.icon" />
        <div class="label">{{ skill.name }}</div>
      </router-link>
    </div>
  </page>
</template>

<script>
import Textbox from '@/components/textbox'
import IconSlot from '@/components/iconSlot'
import Page from '@/components/page'
import Message from '@/components/message'
import { getSkills } from '@/api'

export default {
  name: 'skills',
  components: { Textbox, IconSlot, Page, Message },
  data () {
    return {
      loading: true,
      error: 0,
      skills: [],
      filter: ''
    }
  },
  mounted () {
    getSkills(this.$route.params.lang).then((e) => {
      this.loading = false
      // noinspection JSUnresolvedVariable
      this.skills = e.data.skills
    }).catch((e) => {
      this.error = e.response.status
    })
  },
  computed: {
    hasError () {
      return this.error !== 0
    },
    output () {
      const query = this.filter.trim().toLowerCase()
      return this.skills.filter((b) => b.name.toLowerCase().includes(query)).sort((a, b) => {
        return a.id - b.id
      })
    }
  }
}
</script>

<style scoped>
  .page {
    display: flex;
    flex-direction: column;
  }
  .list {
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .item-bonus {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 112px;
    justify-content: center;
    margin: 8px;
    white-space: normal;
    width: 112px;
  }
  .item-bonus:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .label {
    height: 32px;
    text-align: center;
  }
</style>
