<template>
  <div class="block" :class="{ 'original': original }">
    <div class="title" v-text="title" />
    <div class="content" :class="{ 'loading': loading }">
      <slot v-if="html == null" />
      <div v-if="html != null" v-html="html" />
    </div>
    <div class="footer" v-if="link != null || date != null">
      <span class="date" v-if="date != null" v-text="dateString" />
      <router-link :to="link" v-if="link != null" v-text="'Link'" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'block',
  props: {
    title: {
      required: true,
      type: String
    },
    date: {
      required: false,
      type: Number,
      default: null
    },
    link: {
      required: false,
      type: Object,
      default: null
    },
    loading: {
      type: Boolean,
      required: false,
      default: false
    },
    original: {
      type: Boolean,
      required: false,
      default: false
    },
    html: {
      required: false,
      default: null
    }
  },
  computed: {
    dateString () {
      return new Date(this.date).toLocaleString()
    }
  }
}
</script>

<style scoped>
  .block {
    background-color: rgba(15, 39, 64, 0.7);
    border: 1px solid #E7CB67;
    box-shadow: 0 0 2px #000;
    color: #e8e8e8;
    margin-top: 8px;
    padding: 4px;
    text-shadow: 0 0 1px #000
  }
  .block > .content {
    text-indent: 1em;
    text-align: justify;
    padding: 4px;
    opacity: 1;
    transition-duration: 0.2s;
    transition-property: opacity;
  }
  .block.original > .content {
    text-indent: 0;
    white-space: pre-line;
    padding-left: 0.8em;
  }

  /*noinspection CssUnusedSymbol*/
  .content.loading {
    opacity: 0;
  }
  .block > .title {
    border-bottom: 1px solid #E7CB67;
    color: #ff0;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .footer {
    border-top: 1px solid #E7CB67;
    font-size: 0.9em;
    margin-top: 2px;
    min-height: 1.1em;
    padding-top: 4px;
  }
  .footer > a {
    color: #e8e8e8;
    float: right;
    text-decoration: none;
  }
</style>
<style>
  .block > .content p {
    margin: 0;
    padding: 0;
  }
  .block > .content b.title {
    color: #ff0;
  }
</style>
