<template>
  <div class="dialog">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'calculator-dialog'
}
</script>

<style scoped>
  .dialog {
    background-color: rgba(15, 39, 64, 0.7);
    display: flex;
    flex-direction: column;
    height: 100%;
    outline: 1px solid #E7CB67;
    position: absolute;
    width: 100%;
  }
</style>
