<template>
  <div :style="style" class="cloud"/>
</template>

<script>
export default {
  name: 'cloud',
  data () {
    return {
      x: -200,
      y: -200,
      width: 1,
      height: 1,
      opacity: 0,
      url: '',
      speed: 0
    }
  },
  computed: {
    imgURL () {
      return require('@/assets/clouds/' + this.type + '.png')
    },
    style () {
      return {
        width: this.width + 'px',
        height: this.height + 'px',
        left: this.x + 'px',
        top: this.y + 'px',
        opacity: this.opacity,
        backgroundImage: 'url(' + this.url + ')',
        backgroundSize: this.width + 'px',
        animationDuration: this.speed + 's'
      }
    }
  },
  props: {
    type: {
      required: true,
      type: String
    }
  },
  mounted () {
    const img = new Image()
    img.onload = () => {
      this.show(img.naturalWidth, img.naturalHeight)
    }
    img.src = this.imgURL
  },
  methods: {
    show (width, height) {
      this.x = (Math.round(Math.random() * window.innerWidth - width - 8) + 4)
      this.y = (Math.round(Math.random() * window.innerHeight - height - 8) + 4)
      this.width = width * 2
      this.height = height * 2
      this.url = this.imgURL
      this.opacity = 1
      this.speed = (128 - Math.round(Math.random() * 64))
    }
  }
}
</script>

<style scoped>
  .cloud {
    position: fixed;
    top: -200px;
    left: -200px;
    width: 1px;
    height: 1px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    display: block;
    background-repeat: no-repeat;
    animation-name: wind;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-delay: 2.4s;
    image-rendering: crisp-edges;
  }
  @keyframes wind {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(200px);
    }
    50% {
      transform: translateX(0px);
    }
    75% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(0px);
    }
  }
</style>
