<template>
  <div :class="[type, content, sub, 'grade-' + Math.floor(Math.abs(level - 2) / 10)]" :style="iconStyle" class="slot">
    <span v-if="content === 'game-item' && level > 0" v-text="level"/>
    <span v-if="content === 'level'" v-text="level"/>
    <span :class="{ 'powered': powered }" v-if="content === 'bonus'" v-show="level !== 0 && level !== '0.0%'" v-text="level"/>
  </div>
</template>

<script>
import { getIconURL } from '@/api'

export default {
  name: 'iconSlot',
  props: {
    icon: {
      type: Number,
      required: false,
      default: null
    },
    type: {
      type: String,
      required: false,
      default: 'normal',
      validator: (e) => ['normal', 'red', 'green'].includes(e)
    },
    content: {
      type: String,
      required: false,
      default: 'bonus',
      validator: (e) => ['level', 'game-item', 'bonus'].includes(e)
    },
    sub: {
      type: String,
      required: false,
      default: ''
    },
    level: {
      required: false
    },
    powered: {
      required: false,
      type: Boolean,
      default: false
    },
    img: {
      required: false,
      default: null
    }
  },
  computed: {
    iconStyle () {
      if (this.icon != null) {
        return {
          backgroundImage: 'url(' + getIconURL(this.icon) + '), url(' + getIconURL(0) + ')'
        }
      }
      if (this.img != null) {
        return {
          backgroundImage: 'url(' + this.img + '), url(' + getIconURL(0) + ')'
        }
      }
      return {}
    }
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
  .slot {
    display: inline-block;
    height: 30px;
    margin: 7px;
    vertical-align: middle;
    width: 30px;
    position: relative;
  }
  .slot.level, .slot.bonus {
    background-image: url('../assets/lvls.png');
    background-repeat: no-repeat;
  }
  .slot.game-item {
    background-image: url('../assets/slot-bg.png');
  }
  .slot.game-item.head {
    background-position: 0 -30px;
  }
  .slot.game-item.amulet {
    background-position: 0 -60px;
  }
  .slot.game-item.weapon_left {
    background-position: 0 -90px;
    /* transform: scale(-1, 1); Disable for a better times */
  }
  .slot.game-item.weapon_right {
    background-position: 0 -90px;
  }
  .slot.game-item.body {
    background-position: 0 -120px;
  }
  .slot.game-item.suit {
    background-position: 0 -180px;
  }
  .slot.game-item.belt {
    background-position: 0 -210px;
  }
  .slot.game-item.hand {
    background-position: 0 -150px;
  }
  .slot.game-item.ring {
    background-position: 0 -240px;
  }
  .slot.game-item.foot {
    background-position: 0 -270px;
  }
  .slot::before {
    background-image: url('../assets/slots.png');
    background-position: 0 -44px;
    content: '';
    display: block;
    height: 44px;
    left: -7px;
    position: relative;
    top: -7px;
    width: 44px;
  }
  .slot:hover::before, .slot:active::before {
    background-position: 0 0;
  }
  .slot.green::before {
    background-position: -88px -44px;
  }
  .slot.green:hover::before, .slot.green:active::before {
    background-position: -88px 0;
  }
  .slot.red::before {
    background-position: -44px -44px;
  }
  .slot.red:hover::before, .slot.red:active::before {
    background-position: -44px 0;
  }
  .slot > span {
    left: 0;
    position: absolute;
    top: 0;
  }
  .slot.game-item > span {
    color: #ffff00;
    font-size: 0.8em;
  }
  .slot.level > span {
    color: #efefef;
    display: block;
    font-family: Helvetica,serif;
    font-size: 1.5em;
    height: 100%;
    line-height: 1.5em;
    text-align: center;
    text-shadow: 0 0 2px #000;
    width: 100%;
  }
  .slot.bonus > span {
    color: #efefef;
    display: block;
    font-size: 0.8em;
    line-height: 1em;
    margin-top: 1.45em;
    text-align: center;
    text-shadow: -1px 0 1px #000, 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000;
    width: 100%;
  }
  .slot.bonus > span.powered {
    color: #0f0;
  }
  .level.grade-1 {
    background-position: 0 -30px;
  }
  .level.grade-2 {
    background-position: 0 -60px;
  }
  .level.grade-3 {
    background-position: 0 -90px;
  }
  .level.grade-4 {
    background-position: 0 -120px;
  }
  .level.grade-5 {
    background-position: 0 -50px;
  }
</style>
