<!--suppress ALL -->
<template>
  <div class="item-box">
    <div class="row">
      <img :alt="item.name" :src="itemIcon" class="icon"/>
      <span :class="['title', 'item-color-' + itemColor]">{{ itemName }}</span>
    </div>
    <span class="label" v-t="'label.params'"/>
    <div class="row">
      <icon-slot :level="item.level" content="level" />
      <router-link :to="{ name: 'class', params: { id: item.skill.id } }">
        <icon-slot :icon="item.skill.icon" :style="{ visibility: item.skill.id !== null ? 'visible' : 'hidden' }" :title="item.skill.name" content="bonus" />
      </router-link>
      <div class="params">
        <div :class="['bind', 'bind-color-' + this.itemBind]">{{ $t('label.bind.' + this.itemBind) }}</div>
      </div>
    </div>
    <span class="label" v-t="'label.add_expert_skill'" /><br />
    <span class="label" v-t="'label.skill'"/>
    <div class="row">
      <router-link :to="{ name: 'skill', params: { id: item.stats[0].id } }">
        <icon-slot :icon="item.stats[0].icon" :title="item.stats[0].name"  content="bonus" />
      </router-link>
      <icon-slot :icon="null" class="hide" content="bonus" />
      <icon-slot :icon="null" class="hide" content="bonus" />
      <icon-slot :icon="null" class="hide" content="bonus" />
    </div>
  </div>
</template>

<script>
import iconSlot from '@/components/iconSlot'
import { bonusValue, emptyItem, getIconURL, hasLook, itemColor } from '@/api'

export default {
  components: { iconSlot },
  name: 'item-book-box',
  data () {
    return {
      power: 0,
      loading: false,
      enchants: [],
      enchantType: 0,
      crystal: emptyItem,
      rune: emptyItem
    }
  },
  props: {
    item: {
      required: true,
      type: Object
    },
    buttons: {
      required: false,
      type: Boolean,
      default: false
    }
  },
  computed: {
    itemIcon () {
      if (this.item === null) {
        return ''
      }
      return getIconURL(this.item.icon)
    },
    itemOfSet () {
      return this.item.set.id !== null
    },
    canView () {
      return hasLook.includes(this.item.type)
    },
    itemName () {
      if (this.power === 0) {
        return this.item.name
      }
      return `+${this.power} ${this.item.name}`
    },
    emptyItemObj () {
      return emptyItem
    },
    itemBind () {
      return (this.item.bind & 48) >> 4
    },
    itemColor () {
      return itemColor(this.item.bind, this.item.color)
    },
    enchantChance () {
      return [23, 24].includes(this.item.type) ? '100%' : this.$t('label.enchant_level_based')
    },
    hasGreatEnchant () {
      return [23, 24].includes(this.item.type)
    },
    greatEnchantIcon () {
      return require('../assets/great-enchant.png')
    }
  },
  filters: {
    bonusValue (bonus) {
      return bonusValue(bonus, false)
    }
  },
  event: {
    close: {
      custom: true
    },
    use: {
      custom: true
    }
  },
  methods: {
    cls () {
      this.$emit('close', {
        ...this.item,
        power: this.power,
        crystal: this.crystal,
        rune: this.rune
      })
    }
  },
  watch: {
    item () {
      this.power = this.item.power
      this.crystal = this.item.crystal
      this.rune = this.item.rune
    }
  }
}
</script>

<style scoped>
  .item-box {
    height: 100%;
    position: relative;
  }
  .icon {
    border: 1px solid #ff0;
    margin: 4px;
  }
  .row {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
  .label {
    display: block;
    font-size: 0.8em;
    margin-left: 12px;
  }
  .title {
    display: block;
    font-size: 0.9em;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    width: 192px;
  }
  .params {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    height: 44px;
    width: 100px;
  }
  .params > div {
    background-position: 4px 4px;
    background-repeat: no-repeat;
    height: 16px;
    line-height: 16px;
    padding: 4px 2px 0px 24px;
  }
  .bind {
    background-image: url('../assets/stats/bind.png');
  }
  .cooldown {
    background-image: url('../assets/stats/time.png');
  }
  .buttons-panel {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2px;
  }
  .buttons-panel > button {
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    height: 32px;
    width: 32px;
  }
  .buttons-panel > .btn-use {
    background-image: url('../assets/use.png');
  }
  .buttons-panel > .btn-close {
    background-image: url('../assets/close.png');
  }
  .buttons-panel > .btn-view {
    background-image: url('../assets/view.png');
  }
  .buttons-panel > .btn-power-d {
    background-image: url('../assets/power-down.png');
  }
  .buttons-panel > .btn-power-u {
    background-image: url('../assets/power-up.png');
  }
  .buttons-panel > .btn-find {
    display: none;
  }
  .list {
    flex-grow: 1;
    overflow-y: auto;
  }
  .list > .row-base .item:first-child {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .item {
    align-items: center;
    cursor: pointer;
    display: flex;
  }
  .item > span {
    display: inline-block;
    font-size: 0.8em;
  }
  .enchant-dialog {
    left: 0;
    top: 0;
  }
  .hide {
    visibility: hidden;
  }
</style>
