<template>
  <div class="page">
    <div class="border top" />
    <div class="border left" />
    <div class="border right" />
    <div class="border bottom" />
    <div class="corner tl" />
    <div class="corner tr" />
    <div class="corner bl" />
    <div class="corner br" />
    <div class="title" v-text="title"/>
    <slot />
  </div>
</template>

<script>
export default {
  name: 'page',
  props: {
    title: {
      required: true,
      type: String
    }
  }
}
</script>

<style scoped>
  .page {
    background-image: url('../assets/bg.png');
    background-size: 112px;
    border: 2px solid #E7CF67;
    border-radius: 8px;
    color: #fff;
    image-rendering: pixelated;
    margin: 0 auto;
    max-width: 800px;
    min-height: 282px;
    min-width: 320px;
    padding: 32px 10px 8px 10px;
    position: relative;
    text-shadow: 0 0 1px #000;
    width: 800px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    overflow: hidden;
  }
  .border {
    position: absolute;
  }
  .border.top {
    background-color: #E7CF67;
    border-bottom: 1px solid #5F4737;
    border-top: 1px solid #5F4737;
    height: 2px;
    left: 0;
    top: 0;
    width: 100%;
  }
  .border.left,.border.right {
    background-color: #5F4737;
    height: 100%;
    top: 2px;
    width: 1px;
  }
  .border.left {
    left: 0;
  }
  .border.right {
    right: 0;
  }
  .border.bottom {
    background-color: #5F4737;
    bottom: 0;
    height: 1px;
    left: 0;
    width: 100%;
  }
  .corner {
    background-image: url('../assets/corner.png');
    background-size: 44px;
    height: 42px;
    image-rendering: pixelated;
    pointer-events: none;
    position: absolute;
    width: 44px;
    z-index: 2;
  }
  .corner.tl {
    left: 0;
    top: 1px;
  }
  .corner.tr {
    right: 0;
    top: 1px;
    transform: scaleX(-1);
  }
  .corner.bl {
    bottom: 0;
    left: 0;
    transform: scaleY(-1);
  }
  .corner.br {
    bottom: 0;
    right: 0;
    transform: scale(-1, -1);
  }
  .title {
    background-color: rgba(207, 102, 25, 0.6);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #ff0;
    font-size: 1em;
    height: 24px;
    left: 1px;
    line-height: 1.6em;
    position: absolute;
    text-align: center;
    text-shadow: -1px 0 1px #000,
    1px 0 1px #000,
    0 -1px 1px #000,
    0 1px 1px #000;
    top: 3px;
    user-select: none;
    width: 100%;
  }
  .title::after {
    border-bottom: 1px solid #6F4737;
    border-top: 1px solid #DF7747;
    content: ' ';
    left: 0;
    position: absolute;
    top: 24px;
    width: 100%;
  }
</style>
