<template>
  <div class="pagination">
    <router-link v-for="p in pages" :key="p.page" :to="{ name: 'news', params: { page: p.page }}" v-text="p.page" :class="{ 'current': p.current }"/>
  </div>
</template>

<script>
export default {
  name: 'pagination',
  props: {
    pages: {
      type: Array,
      required: true
    }
  }
}
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
  .pagination {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .pagination > a {
    display: block;
    background-color: rgba(15, 39, 64, 0.7);
    border: 1px solid #E7CB67;
    box-shadow: 0 0 2px #000;
    color: #e8e8e8;
    margin-top: 8px;
    padding: 2px 4px;
    text-shadow: 0 0 1px #000;
    text-decoration: none;
  }
  .pagination > a.current {
    background-color: rgba(255, 64, 64, 0.7);
  }
</style>
