<template>
  <div class="progress-bar">
    <div :style="{ width: `${196 * value / 100 }px`}" class="bar"/>
  </div>
</template>

<script>
export default {
  name: 'progress-bar',
  props: {
    value: {
      type: Number,
      required: true
    }
  }
}
</script>

<style scoped>
  .progress-bar {
    background-image: url('../assets/progress.png');
    background-position: 0 -30px;
    background-size: 16px;
    height: 30px;
    image-rendering: pixelated;
    margin: 4px auto;
    position: relative;
    text-align: left;
    width: 200px;
  }
  .progress-bar::before, .progress-bar::after {
    background-image: url('../assets/progress.png');
    background-size: 16px;
    content: '';
    display: block;
    height: 30px;
    position: absolute;
    top: 0;
    width: 16px;
  }
  .progress-bar::before {
    left: -2px;
  }
  .progress-bar::after {
    right: -2px;
    transform: scaleX(-1);
  }
  .progress-bar > .bar {
    background-image: url('../assets/progress.png');
    background-position: 0 -60px;
    background-size: 16px;
    display: inline-block;
    height: 20px;
    margin: 5px;
    overflow: hidden;
    transition-duration: 15ms;
    transition-property: width;
    width: 0;
  }
  .progress-bar > .bar::after {
    background-image: url('../assets/progress.png');
    background-position: -13px -80px;
    background-size: 16px;
    content: '';
    display: block;
    float: right;
    height: 20px;
    opacity: 0.5;
    right: -4px;
    width: 3px;
  }
</style>
