<template>
  <div class="tabs">
    <router-link :to="prev" @click.native="prevClick" class="btn left" v-if="!eventMode"/>
    <div @click="prevClick" class="btn left" v-if="eventMode"/>
    <div class="current">{{ current }}</div>
    <router-link :to="next" @click.native="nextClick" class="btn right" v-if="!eventMode"/>
    <div @click="nextClick" class="btn right" v-if="eventMode"/>
  </div>
</template>

<script>
export default {
  name: 'tabs',
  props: {
    next: {
      required: true
    },
    prev: {
      required: true
    },
    current: {
      required: true
    },
    eventMode: {
      required: false,
      type: Boolean,
      default: false
    }
  },
  methods: {
    prevClick () {
      this.$emit('go', this.prev)
    },
    nextClick () {
      this.$emit('go', this.next)
    }
  }
}
</script>

<style scoped>
  .tabs {
    background-image: url('../assets/tabs.png');
    background-position: 0 -54px;
    background-size: 33px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    height: 27px;
    margin: 1px auto;
  }
  .btn {
    background-image: url('../assets/tabs.png');
    background-position: 0 -27px;
    background-size: 33px;
    display: block;
    height: 27px;
    width: 33px;
  }
  .btn.right {
    transform: scaleX(-1);
  }
  .btn:active {
    background-position: 0 0;
  }
  .current {
    color: #ff0;
    flex-grow: 1;
    font-size: 0.8em;
    line-height: 27px;
    text-align: center;
  }
</style>
